#reset-password-body{
    width: 20%;
    margin: auto;
    height: 73vh;
    text-align: center;
    padding-top: 150px;
}

#reset-password-body > h3{
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 18px;
    color: black;
    padding-bottom: 50px;
}

#reset-password-form {
    padding: 20px;
    background-color: rgb(248, 248, 248);
    border-radius: 8px;
}

#rp-form-input{
    margin-top: 20px;
}

#rp-form-input > input {
    padding: 10px;
    padding-left: 15px;
    padding-rightL 15px;
    outline: none;
    border: 0px;
    width: 100%;
    border-radius: 8px;
}

    #rp-form-input > input:hover {
        border: 2px solid;
        border-color: dodgerblue;
    }

    #rp-form-input > input:focus{
        border: 2px solid;
        border-color: dodgerblue;
    }

.submit-container{
    margin-top: 15px;
}

    .submit-container > button {
        background-color: dodgerblue;
        outline: none;
        border: 0px;
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-weight: 800;
        font-size: 14px;
        letter-spacing: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .submit-container > button:hover{
        cursor: pointer;
    }

        .submit-container > button:focus {
            cursor: pointer;
            background-color: #1ea3ff;
        }