@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/IndexStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="logo">
            <h4>EventHub</h4>
            <form>
                <input id="searchBox" name="searchBox" placeholder="Search events">
            </form>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Projects</a></li>
        </ul>
    </nav>
    <div class="pageBody">
        <div class="jumbotron-container">
            <div class="jumbotron">
                <img src="~/Images/jumbo.jpg" alt="Page Jumbotron" width="100%" height="600">
                <button type="button" id="jumbotronButton">Browse events</button>
            </div>
        </div>
        <div class="eventCaterogy">
            <div class="eventCaterogy-header">
                <p>Event collection </p>
            </div>
            <div class="catergories">
                <ul class="catergory-links">
                    <li><a href="#">Free</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Food & Drink</a></li>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Games</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Public</a></li>
                </ul>
            </div>
            <div class="individualCatergory">
                <div class="individualCatergory-header">
                    <img src="~/Images/art.jpg" alt="Page Jumbotron" width="100%" height="250">
                </div>
                <div class="individualCatergory-body">
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                    <div class="each-event">
                        <div class="event-pic">
                            <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                        </div>
                        <div class="event-description">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classica
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footerTag">
        <div>
            <p>&copy;Copyright 2020 by EventHub. All Rights Reserved.</p>
            <div class="logo-footer">
                <h4>The Nav</h4>
            </div>
        </div>
    </footer>

</body>

</html>