<div class="pageBody">
    <div class="jumbotron-container">
        <div class="jumbotron">
            <img src="~/Images/jumbo.jpg" alt="Page Jumbotron" width="100%" height="600">
            <button type="button" id="jumbotronButton">Browse events</button>
        </div>
    </div>
    <div class="eventCaterogy">
        <div class="eventCaterogy-header">
            <p>Event collection </p>
        </div>
        <div class="catergories">
            <ul class="catergory-links">
                <li><a href="#">All</a></li>
                <li><a href="#">Festivals</a></li>
                <li><a href="#">Food & Drink</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Fun & Play</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Public</a></li>
            </ul>
        </div>
        <div class="individualCatergory">
            <div class="individualCatergory-header">
                <img src="~/Images/art.jpg" alt="Page Jumbotron" width="100%" height="250">
            </div>
            <div class="individualCatergory-body">
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
                <div class="each-event">
                    <div class="event-pic">
                        <img src="~/Images/upEvent.jpg" alt="Page Jumbotron" width="300px" height="150px">
                    </div>
                    <div class="event-description">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classica
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>